.margin-right-small {
    margin-right: 1.6rem !important;
}

.grid {
    display: grid;
    gap: 9.6rem;
}

.grid--2--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
    grid-template-columns: repeat(4, 1fr);
}

.centered-container {
    max-width: 120rem; /* max width to shrink if needed */
    margin: 0 auto; /* centering */
    padding: 0 3.2rem; /* creating almost 1140px width standard*/
}